<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dingding.background.dao.NewsDao">

<resultMap id="NewsList" type="News">
	<id property="id" column="id" jdbcType="INTEGER"/>
	<result property="title" column="title" jdbcType="VARCHAR"/>
	<result property="content" column="content" jdbcType="VARCHAR"/>
	<result property="authorId" column="authorid" jdbcType="INTEGER"/>
	<result property="createTime" column="createtime" jdbcType="DATE"/>
	
	<result property="authorName" column="authorName" jdbcType="VARCHAR"/>
</resultMap>

<!-- ProcessingStart -->
<!-- 1 条件查询 -->
<select id="list" parameterType="News" resultMap="NewsList">
	select a.*,b.loginName as authorName from wm_news a
	left join wm_user b on a.authorId=b.id
	<where>
		<if test="title!=null and title!=''">
			and title LIKE CONCAT(CONCAT('%', #{title}),'%')
		</if>
		<if test="content!=null and content!=''">
			and content LIKE CONCAT(CONCAT('%', #{content}),'%')
		</if>
		<if test="authorId!=null and authorId!=''">
			and authorId LIKE CONCAT(CONCAT('%', #{authorId}),'%')
		</if>
		<if test="authorName!=null and authorName!=''">
			and b.loginName LIKE CONCAT(CONCAT('%', #{authorName}),'%')
		</if>
		<if test="createTimeStart!=null and createTimeStart!=''">
			<![CDATA[
				and UNIX_TIMESTAMP(createTime) >= UNIX_TIMESTAMP(#{createTimeStart})
			]]>
		</if>
		<if test="createTimeEnd!=null and createTimeEnd!=''">
			<![CDATA[
				and UNIX_TIMESTAMP(createTime) <= UNIX_TIMESTAMP(#{createTimeEnd})
			]]>
		</if>
	</where>
	order by ID
</select>

<!-- 2 获取：通过Id -->
<select id="getById" parameterType="int" resultType="News">
	select * from wm_news where ID=#{id}
</select>

<!-- 3 添加 -->
<insert id="add" parameterType="News" useGeneratedKeys="true" keyProperty="id">
	insert into wm_news(title,content,authorId,createTime)
		values(#{title},#{content},#{authorId},CURDATE())
</insert>

<!-- 4 删除 -->
<delete id="delete" parameterType="Integer">
	delete from wm_news where id=#{id}
</delete>

<!--5 修改-->
<update id="update" parameterType="News">
	update wm_news set 
		title=#{title},
		content=#{content}
	where id=#{id}
</update>

</mapper>